::selection{
    background:#FFFFC0;
    color:#424242;
}
::-moz-selection{
    background:#FFFFC0;
    color:#424242;
}
* {
    outline:none;
}
body {
    background-color:#fff;
    font:1em Georgia;
    line-height:140%;
    color:#222;
    margin:0 0 15px 0;
}

a img {
    border:none;
}
a {
    text-decoration:none;
    color:#6699cc;
}
a:hover {
    color:#424242;
}
h1 {
    margin:0;
    padding:0 0 10px 0;
    font-size:2em;
}
h3 {
    margin:0 0 8px 0;
    padding:0;
    font-size:1.1em;
}
p {
    margin:10px 0;
    padding:0;
}
#wrapper {
    width:632px;
    margin:0 auto;
}
#header {
    background:#f8f8f8;
    border-bottom:1px solid #eee;
    padding:15px 0;
    margin:0 0 20px 0;
}
#headerContent {
    width:632px;
    margin:0 auto;
    text-align: center;
}
#headerContent h1 a {
    color:#424242;
}
#headerContent h1,
#headerContent p {
    padding:0;
    margin:0;
}
#headerContent p {
    padding-top:10px;
}
.postInfo {
    width:100px;
    float:left;
    padding:8px 0;
}
.postInfo a,
.postInfo a:hover {
    color:#424242;
}
.postInfo span,
.postInfo span a,
.postInfo span a:hover {
    color:#cecece;
}
.postWrapper {
    width:622px;
    margin:0 0 15px 0;
    border:5px solid #f8f8f8;
}
.postContainer {
    border:1px solid #d7d7d7;
}
.post {
    padding:10px 10px 0 10px;
}
.postNote {
    padding:10px;
}
.insideInfo {
    background:#f8f8f8;
    border-top:1px solid #eee;
    padding:5px 10px;
    font-size:0.8em;
    color:#888;
}
.insideInfo .postTags {
    width:350px;
    float:left;
}
.insideInfo .postTags a {
    color:#aaa;
}
.insideInfo .postNotes {
    width:150px;
    float:right;
    text-align:right;
}
p.quote {
    font-size:1.3em;
    margin:0 0 10px 0;
    border-left:4px solid #d7d7d7;
    padding:0 0 0 6px;
}
.chat {
    margin:0 0 10px 0;
}
.chat td {
    padding:5px 8px;
}
.chat td.label {
    text-align:right;
    font-weight:bold;
}
.chat tr.odd td {
    background:#f8f8f8;
    border-bottom:1px solid #eee;
}
.chat tr.even td {
    background:#fff;
}
.audio {
    width:350px;
    border:1px solid #eee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#f8f8f8;
}
.audioLeft {
    width:210px;
    float:left;
    margin:5px;
    padding:5px;
    border:1px solid #eee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
}
.audioRight {
    width:110px;
    float:left;
    text-align:center;
    padding:13px 0;
    font-size:1.2em;
}
.footer {
    color:#cecece;
    padding:0 0 0 25px;
    font-size:0.8em;
    font-weight:bold;
}
.clear {
    clear:both;
}
ol.notes,
ol.notes li {
    padding:0;
    margin:0;
    list-style-type:none;
}
ol.notes li.note {
    padding:2px 0;
    font-size:0.8em;
}
ol.notes li.note img.avatar {
    vertical-align:-8px;
    margin-right:5px;
    width:16px;
    height:16px;
    padding:2px;
    border:1px solid #d7d7d7;
}
ol.notes li.note blockquote a {
    text-decoration:none;
}

.credits {
    float:right;
    text-align:right;
    padding:0 16px 0 0;
    font-weight:normal;
}


.post-content > blockquote {
    margin: 0;
}

.post-content >  blockquote > p {
    font-size:1.3em;
    margin:0 0 10px 0;
    border-left:4px solid #d7d7d7;
    padding:0 0 0 6px;
    font-style: italic;
}

pre {
    overflow-y: auto;
}

@media (max-width: 640px) {
    html { font-size:1.4em; }
    #header {
        width: 635px;
    }

    #headerContent {
        width: 620px;
    }

    #wrapper {
        width: 630px;
    }

    .postWrapper{
        width: 620px;
    }
}

.post code {

    font-size: 94%;
    color: #bf616a;
    background: #efeded;
    padding: .25em .5em;
    border-radius: 3px;
}
