<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <!--
    * Theme:     Snip (https://github.com/mesuutt/snip)
    -->
    {% block head %}

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel='shortcut icon' href='/favicon.ico' />
        <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
        <link rel="stylesheet" href="{{ get_url(path="theme.css") }}">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name='description' content='{{ config.description }}' />
        {% block head_additions %} {% endblock head_additions %}
    {% endblock head %}
</head>
<body>
{% block content %} {% endblock content %}
<br class='clear' />
</body>
</html>
