{% extends "base.html" %}

{% block content %}
    {% block header %}
        <div id='header'>
            <div id='headerContent'>
                <h1><a href='/'>{{ config.title }}</a></h1>
                <p>{{ config.description }}</p>
            </div>
        </div>
    {% endblock header %}
    <div id='wrapper'>
        <div id='posts'>
            {% for page in paginator.pages %}
                <div class='postWrapper'>
                    <div class='postContainer'>
                        <div class='post'>
                            <h3>{{ page.title }}</h3>
                            <div class="post-content">
                                {{ page.content | safe }}
                            </div>
                        </div>
                        <div class='insideInfo'>
                            <div class='postTags'>
                                {# Posted 1 years ago #}
                                {{ page.date | date(format=config.extra.date_format) }}
                                {% set post_time = page.date | date(format="%H:%M") %}
                                {% if post_time != "00:00" %}
                                    {{ post_time }}
                                {% endif %}
                                <br />
                                {% if page.taxonomies.tags %}
                                    {% for tag in page.taxonomies.tags %}
                                        <a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>#{{ tag }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {#

                            <div class='postNotes'>
                                <a href="{{ page.permalink }}">
                                    10 like
                                </a>
                            </div>
                            #}
                            <br class='clear' />
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class='footer'>
                <div class='credits'>
                    <a href='/rss.xml'>RSS</a> |
                    Theme: <a href='https://github.com/mesuutt/snip'>Snip</a>
                </div>
                <a href='{NextPage}'>&#171; Older</a>
                <a href='{PreviousPage}'>Newer &#187;</a>
            </div>
        </div>
    </div>
{% endblock content %}
