{% extends "base.html" %}

{% block content %}
    {% block header %}
        <div id='header'>
            <div id='headerContent'>
                <h1><a href='/'>{{ config.title }}</a></h1>
                <p>{{ config.description }}</p>
            </div>
        </div>
    {% endblock header %}
    <div id='wrapper'>
        <div id='posts'>
            {% block post_list %}
                {% for page in paginator.pages %}
                    {% include "snip/templates/post.html" %}
                {% endfor %}
                {% include "snip/templates/footer.html" %}
            {% endblock post_list %}
        </div>
    </div>
{% endblock content %}
